#art {
  background-color: rgb(42, 86, 156);
  display: block;
  color: white;
  height: 100%;
}

#art-header {
  display: flex;
  flex-direction: row;
}

#art-header h1 {
  width: 80vw;
  font-size: 5vmin;
  margin-left: 2vmin;
}
#art-home-button {
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#art-full-div {
  display: flex;
  flex-direction: column;
}
#art-selectors-div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

#canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#art p {
  display: none;
}
#tree-canvas-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#angle {
  height: 40px;
  font-size: 20px;
}
#angle-modifier {
  height: 40px;
  font-size: 20px;
}
