#art {
  background-color: rgb(42, 86, 156);
  display: block;
  color: white;
  height: 100vh;
}

#art-header {
  display: flex;
  flex-direction: row;
}

#art-header h1 {
  width: 80vw;
  font-size: 5vmin;
}
#art-home-button {
  width: 18vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#art-full-div {
  display: flex;
  flex-direction: column;
}

#canvas-div {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
